<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KnockKnock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <KnockKnock.Properties.Settings>
            <setting name="AddinPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ScheduleFont" serializeAs="String">
                <value>Arial, 12pt</value>
            </setting>
            <setting name="ReadOnlyColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="CheckedColor" serializeAs="String">
                <value>SpringGreen</value>
            </setting>
            <setting name="ChangedColor" serializeAs="String">
                <value>Salmon</value>
            </setting>
            <setting name="HeaderFont" serializeAs="String">
                <value>Arial, 12pt</value>
            </setting>
            <setting name="EntCheck" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
        </KnockKnock.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
